<p class="align">This Book store belongs to NAKKS EDUCATIONAL INFRA LTD. <br>
    We can delivery books all over the world via three modal ways. <br>
    All copyrights belongs to NAKKS EDUCATIONAL INFRA LTD. <br>
    Company registered in Bahamas. <br><br>
    
    For Franchise, call our Division Expansion Executive</p>

<button routerLink="/cart/about/franchise" class="submit-btn">Let's educate the world Together!</button>

<!-- <router-outlet></router-outlet> -->
<div class="align" id="down">
    <app-review-view></app-review-view>
    <app-review-add></app-review-add>
</div>
